@import "../../../resources/scss/mixins/mixins";

.cta-tiles {
  &__inner {
    box-sizing: border-box;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    box-sizing: border-box;

    @media only screen and (min-width: 768px) and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__top {
    max-width: 45%;
    margin-bottom: 3rem;

    @include mobile {
      max-width: 85%;
    }

    h2 {
      margin: 0 0 2rem;
      max-width: 90%;
    }

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    position: relative;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #384e5b 10%, transparent 100%);
      z-index: 2;
      transition: background 0.2s, mix-blend-mode 0.2s, opacity 0.2s;
    }

    &:hover {
      &:before {
        background: linear-gradient(300deg, #e31522 0%, #0a0d55 100%);
        mix-blend-mode: normal;
        opacity: 0.75;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(135deg, #0a0d55 10%, transparent 50%);
        z-index: 1;
      }

      img {
        filter: grayscale(0) !important;
      }

      button {
        > span {
          flex: 1;
        }
      }
    }

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
        transition: 0.2s;
      }
    }

    &-content {
      padding: 25px 3rem 15px 25px;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      > * {
        margin: 0;
      }

      h3 {
        font-weight: 700;
        padding: 0 0 35%;
        box-sizing: border-box;
      }

      button {
        all: unset;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0 20px;
        transition: 0.2s;
        font-weight: 500;

        svg {
          max-width: 30px;
          height: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;
    margin: 3rem auto 0;
    max-width: 40%;
    text-align: center;
    align-items: center;

    @include mobile {
      max-width: 85%;
    }
  }

  &__post {
    > p {
      font-size: clamp(18px, 2vw, 24px);
      font-weight: 500;
    }

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
